@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: none;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

header .container {
  margin: 30px auto;
  width: 100%;
  padding: 0 200px;
  height: 69px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .container_icon {
  width: 120px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
}

.container .header_p p {
  width: 109px;
  height: 38px;
  top: 43px;
  left: 496px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_location {
  width: 296px;
  height: Hug (38px) px;
  top: 39px;
  left: 727px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_location img {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}

.container .header_location p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number {
  width: Hug (208px) px;
  height: 69px;
  top: 30px;
  left: 1087px;
  gap: 3px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

.container .header_number h3 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number .header_number_time {
  width: 158px;
  height: Hug (20px) px;
  top: 67px;
  left: 1087px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 0px;
}

.container .header_number .header_number_time img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
.container .header_number .header_number_time p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_book {
  width: 240px;
  height: 69px;
  top: 30px;
  left: 1350px;
  /* padding: 10px 16px 10px 16px; */
  gap: 10px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0px;
  justify-content: end;
}

.container .header_book .header_book_h3 {
  width: 100%;
  height: 39px;
  top: 30px;
  left: 1350px;
  padding: 10px 15px;
  gap: 10px;
  border: 1px solid #cfb08a;
  opacity: 0px;
}

.container .header_book .header_book_h3 h3 {
  font-family: "Open Sans";
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  /* text-align: left; */
  color: #1d1d1d;
}

.container .header_book .header_book_email {
  width: 159px;
  height: Hug (20px) px;
  top: 79px;
  left: 1410px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_book .header_book_email img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}

.container .header_book .header_book_email p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

/* ---------------------------- */

.menu {
  width: 100%;
  height: 55px;
  background: #cb883a;
}

.menu .container {
  padding: 0 200px;
  margin: 0 auto;
  width: 100%;
  height: 55px;
  top: 129px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .container .menu_bar {
  display: flex;
  width: Hug (715px) px;
  height: Hug (55px) px;
  top: 129px;
  left: 351px;
  gap: 0px;
  opacity: 0px;
}

.menu .container .menu_bar li {
  list-style: none;
  padding: 18px 24px 18px 24px;
  gap: 10px;
  opacity: 0px;
}

.menu .container .menu_bar li a {
  text-decoration: none;
  color: #fff;
}

.menu .container .menu_search {
  position: relative;
}

.menu .container .menu_search input {
  width: 250px;
  height: 35px;
  top: 139px;
  left: 1319px;
  gap: 0px;
  border-radius: 100px;
  outline: none;
  padding: 0 20px;
  padding-right: 40px;
  border: none;
  opacity: 0px;
  font-size: 16px;
}

.menu .container .menu_search img {
  width: 13.44px;
  height: 13.33px;
  /* transform: translate(50%); */
  right: 6%;
  top: 30%;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #1d1d1d;
  position: absolute;
  z-index: 10;
}

/* -------------------------------- */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* ------------------------- */

.service .container {
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  width: 1211px;
  height: 457px;
}

.service .left .left_top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.service .left {
  width: 305px;
  height: 245px;
  top: 829px;
  left: 358px;
  gap: 0px;
  opacity: 0px;
}
.service .left .left_div {
  font-family: "Open Sans";
  font-size: 100px;
  font-weight: 700;
  line-height: 136.18px;
  text-align: left;
  color: #d29650;
}
.service .left_p {
  width: 299px;
  height: 108px;
  top: 966px;
  left: 381px;
  gap: 0px;
  opacity: 0px;
}
.service .left_p p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  color: #1d1d1d;
}

.service .left .left_div_p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .left .left_div_p p {
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 54.47px;
  text-align: left;
  color: #1d1d1d;
}

.service .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.service .box {
  width: 390px;
  height: 216px;
  padding: 20px 40px 20px 40px;
  border: 1px solid #d1d1d1;
  gap: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.service .right .box h3 {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #1d1d1d;
  text-align: left;
}
.service .right .box p {
  margin-top: 10px;
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

/* ---------------------- */

.about {
  width: 100%;
  height: 406px;
  top: 1316px;
  gap: 0px;
  opacity: 0px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .container {
  width: 1034px;
  height: 279px;
  top: 1373px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.about .container h1 {
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.about .container .about_bottom {
  margin-top: 42px;
  width: 1034px;
  height: 193px;
  top: 1459px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.about .container .about_bottom .about_box {
  width: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 192.92px;
  top: 1459px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
}

.about .container .about_bottom .about_box h3 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: #1d1d1d;
}

.about .container .about_bottom .about_box p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #d29650;
  line-height: 27.24px;
}

/* ------------------------------ */

.main {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main .container {
  margin: 0 auto;
  /* margin: 0; */
  width: 100%;
}

.main .container h2 {
  margin-top: 50px;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  color: #1d1d1d;
}

.main .main_infos {
  margin-top: 72px;
  display: grid;
  gap: 150px;
}

.main .container .main_infos {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main_infos .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 70px 0;
  gap: 134px;
}
.main_infos .info:nth-child(even) {
  background-color: #ccc;
  flex-direction: row-reverse;
}
.main_infos .info:nth-child(even) .main_infos {
  background-color: #ccc;
}
.main_infos .info:nth-child(2) .right_p {
  gap: 0;
}
.main_infos .info:nth-child(2) .right h3 {
  margin-top: 70px;
}
.main_infos .info:nth-child(3) .right_p {
  gap: 40px;
}
.main_infos .info:nth-child(3) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right_p ul {
  margin-top: 130px;
}
.main_infos .info .img {
  background-image: url("../imgs/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 670px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_infos .info .img h3 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
}

.main_infos .info .right_p {
  width: 594px;
  height: 264px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  opacity: 0px;
}
.main_infos .info .right_p p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p ul {
  display: block;
  font-family: "Open Sans";
  padding: 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.79px;
  text-align: left;
}

.main_infos .info .right_p p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}

.main_infos .info .right h3 {
  margin-top: 47px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: #1d1d1d;
}

.main_infos .info .right table thead tr {
  background-color: #dedede;
}

.main_infos .info .right table thead tr th,
td {
  padding: 10px 20px 10px 20px;
  gap: 10px;
  opacity: 0px;
}

.main_infos .info .right table tbody tr td {
  border-bottom: 1px solid #dedede;
}

.main_infos .info .right table tbody tr:first-child td:first-child {
  border: none;
  font-weight: bold;
  width: 34%;
}

.main_infos .info .right table {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.info .info_btn {
  margin-top: 51px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.info .info_btn button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 24.51px;
}

.info .info_btn button:first-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  opacity: 0px;
  background-color: transparent;
}
.info .info_btn button:last-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  background-color: #d29650;
  color: #fff;
  opacity: 0px;
}

/* -------------------------------- */

.location {
  margin: 80px 0;
  background-image: url("../imgs/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 615px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location .container {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  align-items: center;
  /* justify-content: space-between; */
  /* padding: 0 351px; */
  height: 100%;
  gap: 30px;
}

.location .container .text {
  width: calc(100% - 500px);
  height: 332px;
  /* top: 5010px; */
  /* left: 351px; */
  gap: 0px;
  opacity: 0px;
}

.location .container .text h2 {
  font-family: "Open Sans";
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.location .container .text ul {
  color: #fff;
  padding: 10px;
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.location .container .text ul li {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  line-height: 21.79px;
  text-align: left;
}

.location .container .location_area {
  width: 500px;
  height: 100%;
}
.location .container .location_area iframe {
  width: 100%;
  height: 100%;
}

/* --------------------------------- */

.sertificate {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 92px;
}

.sertificate .container h2 {
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.sertificate .container {
  margin: 0 auto;
  width: 1022px;
  height: 524px;
  top: 5487px;
  left: 449px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sertificate .container .pic_ser {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  gap: 40px;

  align-items: center;
}

.sertificate .container .pic_ser img {
  width: Hug (314px) px;
  height: Hug (435px) px;
  border: 1px solid #bcbcbc;
  padding: 20px;
  opacity: 0px;
}

/* --------------------------------- */

.sec_marquee {
  position: relative;
  overflow: hidden;
  height: 272px;
  background-color: #f2f2f2;
  margin: 50px 0;
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
}

.sec_marquee .container {
  margin-bottom: 70px;
  width: 100%;
  gap: 50px;
  opacity: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sec_marquee .container h2 {
  font-family: "Open Sans";
  font-size: 32px;
  color: #1d1d1d;
  font-weight: 700;
  /* line-height: 43.58px; */
  text-align: left;
  /* margin-bottom: 100px; */
}

/* .marquee {
  overflow: hidden;
} */

.marquee-content {
  display: flex;
  animation: scrolling 10s linear infinite;
}

.marquee-item {
  flex: 0 0 256px; /* 16vw assuming a 1600px wide viewport */
  margin: 0 16px; /* 1vw assuming a 1600px wide viewport */
  /* flex: 0 0 320px;  */
  /* margin: 0 32px; */
}

.marquee-item img {
  display: block;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2304px);
  } /* -144vw assuming a 1600px wide viewport */
}

/* ---------------------- */

.contact {
  margin-bottom: 100px;
}
.contact .container {
  margin: 0 auto;
  width: 1022px;
  height: 349px;
  top: 6450px;
  left: 449px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: start; */
  justify-content: center;
}

.contact .container h2 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
  color: #1d1d1d;
}

.contact .container .contact_sheets {
  margin-top: 39px;
  width: 905px;
  height: 266px;
  top: 6533px;
  left: 508px;
  gap: 30px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
}
.contact .container .contact_sheets form {
  width: 50%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.contact .container .contact_sheets form input {
  padding: 16px 20px 16px 20px;
  width: 386px;
  height: 54px;
  gap: 10px;
  opacity: 0px;
  border: 1px solid #bcbcbc;
}

.contact .container .contact_sheets form input::placeholder {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

.contact .container .contact_sheets .right_side textarea {
  border: 1px solid #bcbcbc;
  padding: 20px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #7f7f7f;
  width: 489px;
  height: 196px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.contact .container .contact_sheets .right_side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact .container .contact_sheets .right_side .right_side_b {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 489px;
  height: 54px;
}
.contact .container .contact_sheets .right_side button {
  background: #cb883a;
  top: 6745px;
  left: 1186px;
  padding: 16px 70px 16px 70px;
  gap: 10px;
  opacity: 0px;
  border: none;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 21.79px;
  color: #fff;
}

.contact .container .contact_sheets .right_side input {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
}

/* ------------------------------ */

footer {
  background-color: #595959;
  padding: 0 351px;
  width: 100%;
  height: 302px;
  top: 6899px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #fff;
}

footer .container {
  margin: 0 auto;
  padding: 58px 0 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .top_side {
  height: 174px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .top_side p {
  width: 189px;
  height: 174px;
  gap: 16px;
  opacity: 0px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

footer .container .bottom_side {
  color: #fff;
  height: 174px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 600px;
  top: 30px;
  left: 1087px;
  gap: 3px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

footer .container .bottom_side .header_number h3 {
  font-family: "Open Sans";
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
}

footer .container .bottom_side .header_number .header_number_time {
  width: 158px;
  color: #fff;
  height: Hug (20px) px;
  top: 67px;
  left: 1087px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 0px;
}

footer .container .bottom_side .header_number .header_number_time img {
  width: 20px;
  color: #fff;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
footer .container .bottom_side .header_number .header_number_time p {
  font-family: "Open Sans";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
}

footer .container .bottom_side .header_book {
  width: 240px;
  color: #fff;
  height: 69px;
  top: 30px;
  left: 1350px;
  /* padding: 10px 16px 10px 16px; */
  gap: 10px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0px;
  justify-content: end;
}

footer .container .bottom_side .header_book .header_book_h3 {
  width: 100%;
  color: #fff;
  height: 39px;
  top: 30px;
  left: 1350px;
  padding: 10px 15px;
  gap: 10px;
  border: 1px solid #cfb08a;
  opacity: 0px;
}

footer .container .bottom_side .header_book .header_book_h3 h3 {
  font-family: "Open Sans";
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}

footer .container .bottom_side .header_book .header_book_email {
  width: 159px;
  color: #fff;
  height: Hug (20px) px;
  top: 79px;
  left: 1410px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container .bottom_side .header_book .header_book_email img {
  width: 20px;
  color: #fff;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}

footer .container .bottom_side .header_book .header_book_email p {
  font-family: "Open Sans";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
}

footer .container .bottom_side .footer_location {
  width: 100%;
  height: 24px;
  top: 7102px;
  left: 1117px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}

footer .container .bottom_side .footer_location p {
  font-family: "Open Sans";

  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
}
textarea {
  resize: none;
}
