@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

header .container {
  margin: 30px auto 0;
  width: 1218px;
  height: 69px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .container_icon {
  width: 120px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
}

.container .header_p p {
  width: 109px;
  height: 38px;
  top: 43px;
  left: 496px;
  gap: 0px;
  opacity: 0px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_location {
  width: 296px;
  height: Hug (38px) px;
  top: 39px;
  left: 727px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_location img {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}

.container .header_location p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number {
  width: Hug (208px) px;
  height: 69px;
  top: 30px;
  left: 1087px;
  gap: 3px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

.container .header_number h3 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number .header_number_time {
  width: 158px;
  height: Hug (20px) px;
  top: 67px;
  left: 1087px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 0px;
}

.container .header_number .header_number_time img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
.container .header_number .header_number_time p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_book {
  width: 240px;
  height: 69px;
  top: 30px;
  left: 1350px;
  /* padding: 10px 16px 10px 16px; */
  gap: 10px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0px;
  justify-content: end;
}

.container .header_book .header_book_h3 {
  width: 100%;
  height: 39px;
  top: 30px;
  left: 1350px;
  padding: 10px 15px;
  gap: 10px;
  border: 1px solid #cfb08a;
  opacity: 0px;
}

.container .header_book .header_book_h3 h3 {
  font-family: "Open Sans";
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  /* text-align: left; */
  color: #1d1d1d;
}

.container .header_book .header_book_email {
  width: 159px;
  height: Hug (20px) px;
  top: 79px;
  left: 1410px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_book .header_book_email img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}

.container .header_book .header_book_email p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

/* ---------------------------- */

.menu .container {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  top: 129px;
  gap: 0px;
  opacity: 0px;
  background: #cb883a;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
}

.menu .container .menu_bar {
  display: flex;
  width: Hug (715px) px;
  height: Hug (55px) px;
  top: 129px;
  left: 351px;
  gap: 0px;
  opacity: 0px;
}

.menu .container .menu_bar li {
  list-style: none;
  padding: 18px 24px 18px 24px;
  gap: 10px;
  opacity: 0px;
}

.menu .container .menu_bar li a {
  text-decoration: none;
  color: #fff;
}

.menu .container .menu_search {
  position: relative;
}

.menu .container .menu_search input {
  width: 250px;
  height: 35px;
  top: 139px;
  left: 1319px;
  gap: 0px;
  border-radius: 100px;
  outline: none;
  padding: 0 20px;
  padding-right: 40px;
  border: none;
  opacity: 0px;
  font-size: 16px;
}

.menu .container .menu_search img {
  width: 13.44px;
  height: 13.33px;
  /* transform: translate(50%); */
  right: 6%;
  top: 30%;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #1d1d1d;
  position: absolute;
  z-index: 10;
}

/* -------------------------------- */

.carusel .container {
  background-image: url("../imgs/Rectangle\ 4.svg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.carusel .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carusel .container .text {
  width: 533px;
  /* height: 132px; */
  position: absolute;
  z-index: 1;
  left: 100px;
}

.carusel .container .text h1 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
  color: #fff;
}
.carusel .container .text ul {
  padding: 10px 20px;
  width: Hug (330px) px;
  height: Hug (86px) px;
  top: 426px;
  left: 351px;
  gap: 10px;
  opacity: 0px;
  color: #fff;
}

.carusel .container .text li {
  font-family: "Open Sans";
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.carusel .container .text button {
  border: none;
  margin-top: 30px;
  text-align: center;
  background-color: #cb883a;
  vertical-align: middle;
  padding: 16px 40px 16px 40px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 24.51px;
  text-align: left;
  color: #fff;
}

/* ------------------------- */

.service .container {
  margin: 70px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 96px;
  width: 1211px;
  height: 457px;
}

.service .left .left_top {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.service .left {
  width: 305px;
  height: 245px;
  top: 829px;
  left: 358px;
  gap: 0px;
  opacity: 0px;
}
.service .left .left_div {
  font-family: "Open Sans";
  font-size: 100px;
  font-weight: 700;
  line-height: 136.18px;
  text-align: left;
  color: #d29650;
}
.service .left_p {
  width: 299px;
  height: 108px;
  top: 966px;
  left: 381px;
  gap: 0px;
  opacity: 0px;
}
.service .left_p p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27.24px;
  text-align: left;
  color: #1d1d1d;
}

.service .left .left_div_p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .left .left_div_p p {
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 700;
  line-height: 54.47px;
  text-align: left;
  color: #1d1d1d;
}

.service .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.service .box {
  width: 390px;
  height: 216px;
  padding: 20px 40px 20px 40px;
  border: 1px solid #d1d1d1;
  gap: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.service .right .box h3 {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  color: #1d1d1d;
  text-align: left;
}
.service .right .box p {
  margin-top: 10px;
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}

/* ---------------------- */

.about {
  width: 100%;
  height: 406px;
  top: 1316px;
  gap: 0px;
  opacity: 0px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .container {
  width: 1034px;
  height: 279px;
  top: 1373px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.about .container h1 {
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.about .container .about_bottom {
  margin-top: 42px;
  width: 1034px;
  height: 193px;
  top: 1459px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.about .container .about_bottom .about_box {
  width: 221px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 192.92px;
  top: 1459px;
  left: 443px;
  gap: 0px;
  opacity: 0px;
}

.about .container .about_bottom .about_box h3 {
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: #1d1d1d;
}

.about .container .about_bottom .about_box p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  color: #d29650;
  line-height: 27.24px;
}

/* ------------------------------ */

.main .container h2 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  color: #1d1d1d;
}

.main .main_infos {
  margin-top: 72px;
  display: grid;
  gap: 150px;
}

.main_infos .info {
  display: flex;
  padding: 70px 351px;
  gap: 134px;
}
.main_infos .info:nth-child(even) {
  background-color: #ccc;
  flex-direction: row-reverse;
}
.main_infos .info:nth-child(2) .right_p {
  gap: 0;
}
.main_infos .info:nth-child(2) .right h3 {
  margin-top: 70px;
}
.main_infos .info:nth-child(3) .right_p {
  gap: 40px;
}
.main_infos .info:nth-child(3) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right_p ul {
  margin-top: 130px;
}
.main_infos .info .img {
  background-image: url("../imgs/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 645px;
}

.main_infos .info .img h3 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 255px 108px;
}

.main_infos .info .right_p {
  width: 594px;
  height: 264px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  opacity: 0px;
}
.main_infos .info .right_p p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p ul {
  display: block;
  font-family: "Open Sans";
  padding: 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.79px;
  text-align: left;
}

.main_infos .info .right_p p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}

.main_infos .info .right h3 {
  margin-top: 47px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: #1d1d1d;
}

.main_infos .info .right table thead tr {
  background-color: #dedede;
}

.main_infos .info .right table thead tr th,
td {
  padding: 10px 20px 10px 20px;
  gap: 10px;
  opacity: 0px;
}

.main_infos .info .right table tbody tr td {
  border-bottom: 1px solid #dedede;
}

.main_infos .info .right table tbody tr:first-child td:first-child {
  border: none;
  font-weight: bold;
  width: 34%;
}

.main_infos .info .right table {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.info .info_btn {
  margin-top: 51px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.info .info_btn button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 24.51px;
}

.info .info_btn button:first-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  opacity: 0px;
  background-color: transparent;
}
.info .info_btn button:last-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  background-color: #d29650;
  color: #fff;
  opacity: 0px;
}

/* -------------------------------- */

.location {
  margin: 80px 0;
  background-image: url("../imgs/Rectangle\ 11.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 615px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 351px;
  height: 100%;
  gap: 155px;
}

.location .container .text {
  width: 454px;
  height: 332px;
  top: 5010px;
  left: 351px;
  gap: 0px;
  opacity: 0px;
}

.location .container .text h2 {
  font-family: "Open Sans";
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.location .container .text ul {
  color: #fff;
  padding: 10px;
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.location .container .text ul li {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  line-height: 21.79px;
  text-align: left;
}

.location .container .location_area,
iframe {
  width: 609px;
  height: 100%;
  top: 4802px;
  left: 960px;
  gap: 0px;
  opacity: 0px;
}

/* --------------------------------- */

.sertificate {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 92px;
}

.sertificate .container h2 {
  font-family: "Open Sans";
  color: #1d1d1d;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
}

.sertificate .container {
  margin: 0 auto;
  width: 1022px;
  height: 524px;
  top: 5487px;
  left: 449px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sertificate .container .pic_ser {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  gap: 40px;

  align-items: center;
}

.sertificate .container .pic_ser img {
  width: Hug (314px) px;
  height: Hug (435px) px;
  border: 1px solid #bcbcbc;
  padding: 20px;
  opacity: 0px;
}

/* --------------------------------- */

.marquee {
  position: relative;
}

.marquee .container {
  margin-bottom: 70px;
  width: 100%;
  height: 272px;
  top: 6108px;
  gap: 0px;
  opacity: 0px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.marquee .container h2 {
  font-family: "Open Sans";
  font-size: 32px;
  color: #1d1d1d;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
  margin-bottom: 100px;
}

.marquee .container .icons {
  width: 200%;
  bottom: 40px;
  position: absolute;
  overflow: hidden;
  height: Hug (58px) px;
  opacity: 0px;
  display: flex;
  gap: 75px;
  align-items: center;
  justify-content: center;
  animation: circle 6s infinite linear;
}

.marquee .container .icons img {
  display: inline;
}

@keyframes circle {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

/* ---------------------- */


